<html>
    <head>
        <title>SOP test</title>
    </head>
    <body>
        {% if origin == "diff" %}
            <script src="{{ url_for('static', filename='soptest.js') }}"></script>
            <button onclick="soptest()" name="button">Start SOP test</button>
            <script type="text/javascript">
                function soptest(){
                    var b = document.getElementsByName("button");
                    b.remove();

                    var tb = getResTable();
                    document.body.appendChild(tb);
                }
            </script>
        {% elif origin != None and origin != "" %}
            <h3>Click the following link to open a page from a different origin for SOP test</h3>
            <a href="http://{{ origin }}/soptest?origin=diff" target="blank">http://{{ origin }}/soptest?origin=diff</a>
        {% else %}
            <form action="soptest" method="GET">
                Input the origin for sop test (which is different from the current one)</br>
                <input type="text" name="origin">
                <input type="submit" value="submit">
            </form>
        {% endif %}
    </body>
</html>